python=python2.7
//registry.npmjs.org/:_authToken=4c043c1c-6672-4601-8d16-e540db4ac0ca
registry=https://registry.npmjs.org/
//artifactory.wikia-inc.com/artifactory/api/npm/npm-source/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiIwMlVqWHRXMWNJTHBxbTR6N1lDdGtlWDVzV0ZDcWdnV3pteUp0VjZzTEdrIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWVcL3VzZXJzXC9qcm9nYW4iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWUiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWUiLCJpYXQiOjE1NDg4NDA1NzMsImp0aSI6IjQ1ZGQwMjIzLTU1ZTAtNGI2MC1iN2UzLTY3M2M1MDkzOTdlMyJ9.f41TLQI5GCieHTiVC6ZmPEH1yS2PwvnB2aTWhAEPwnFuL1nqX_rE8c054AtordC-jqfcZ2o3IjiRRfJfPIu2AFkoWBk6aaz72BX4pA5iDivRo6JDYRr9N_wZdZkaaeTkrO_FcwNdxzFH635DVI4HBxmFAmHiFD-TwtxGpFKgQyWP4gAg8yt7CXnZOavAaqXVAu_M92KhfWg30D45y0vs4DLNVmcqQQcDBFZO7JRjrQA_62Im4mPD5Ge8yqXRYaFe4KHKZgLVADM16CGlz4AK7lQHbnhO_1Oww64trG9xm3MEj70RSI-kx9hwvFpvJLhymf-wKYbngGJoTpVSwC8bSA
@wikia:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
//artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiIwMlVqWHRXMWNJTHBxbTR6N1lDdGtlWDVzV0ZDcWdnV3pteUp0VjZzTEdrIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWVcL3VzZXJzXC9qcm9nYW4iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWUiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBlNjMxMWZkMi1mMjgxLTQ4MDUtYTgzMS0wMTBjNzU2ZDMwZWUiLCJpYXQiOjE1NzA1Nzc2MzEsImp0aSI6IjI5ZDY5ZDkyLTA3MDYtNGIwYi04ODdkLTY2M2JmOTIxMDEwNSJ9.I9k-cmscX3ko1EmFvEYuGjYlraqvN2-t4ZU18LegBBgQ_Ad-rFH60uJLvwAvD2OZY5N9x6aA2ll17FTdPiyAdsTVLpEcUJ5e8iun2ifzWlTltHdPz1HCwnM6MmStSHNTcF1MCmyBxIIAZ3qhjZdAqfCD3B44GrIduScq0rE09Y0a_rvzP8_s4v-eMRP2MCMMYjQHiyF5DPITZ16AMshQGIJajdKF40RprE6_-AfSA6M82BBiboKWZA6yb6qxQovt9Fkueyuh3dP0H8zWQz0y3kEQNxTM9TFkUCA4D-_2HSHqeZmA7yrP6DBh8LAK48Q_0OxOjrbrIEr8VrIAZp97Cw
@fandom:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
@fandom-frontend:registry=https://artifactory.wikia-inc.com/artifactory/api/npm/wikia-npm/
