[pull]
	rebase = true
[user]
	name = Josh
	email = jrogan@wikia-inc.com
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[alias]
	A = add -A
	br = branch
	ca = commit -a
	cam = commit -a -m
	ci = commit
	co = checkout
	cp = cherry-pick
	df = diff
	hidef = update-index --assume-unchanged
	l = log --graph --decorate
	lg = log -p
	one = log -p -1 --pretty=full
	pusho = push origin
	rbc = rebase --continue
	showf = update-index --no-assume-unchanged
	st = status -s
    fo = fetch origin
    pullom = pull origin master
    pushom = push origin master
[core]
	excludesfile = /Users/joshrogan/.gitignore_global
    editor = vim
[diff]
    external = /Users/joshrogan/icdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/joshrogan/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
